.order-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  margin-left: 300px;
  
}

.order-page h2 {
  font-size: 24px;
  margin-bottom: 10px;
   
}

.order-page p {
  margin: 6px 0;
}

.progress-container {
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;

}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.8s ease;
}

.order-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.order-button:hover {
  background-color: #45a049;
}

